@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: clamp (20px, 4vw, 25px);
    color: #031540;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: clamp(14px, 4vw, 18px);
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #00abf0;
}

.home {
    height: 100vh;
    background: linear-gradient(-90deg, #031540 65%, #fff 35%);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background: #031540;
    border-radius: 50%;
    border: 25px solid #fff;
    outline: 25px solid #031540;
}

.home-img img {
    position: relative;
    bottom: -20px;
    max-width: 250px;
}

.home-content {
    max-height: 600px;
    color: #fff;
    text-align: right;
}

.home-content h1 {
    font-size: clamp(35px, 4vw, 55px);
    line-height: 1.2;
}

.home-content h3 {
    font-size: clamp(25px, 4vw, 40px);
    color: transparent;
    -webkit-text-stroke: .5px #fff;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 6s linear infinite;
}

@keyframes animateText {
    0%,95%,100% {
        background-position: -410px 0;
    }
    65%,85% {
        background-position: 0 0;
    }
}

.home-content p {
    font-size: clamp(12px, 4vw , 16px);
    margin-top: 20px;
    max-width: 600px;
}

.home-icons {
    margin: 25px 0 40px;
}

/* BIODATA */
.biodata {
    font-size: clamp(12px, 4vw, 18px);
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    width: 100%;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

.biodata table {
    margin: 0;
    padding: 0;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

.biodata th,
.biodata td {
    padding:6px 5px;
    border: none;
}

.biodata th:hover {
    transition: .3s;
    color: #acd4e4;
    cursor: pointer;
    text-decoration: underline;
}
.biodata h2 {
    color: #00abf0;
    transition: .5s;
}

.biodata h2:hover {
    color: #acd4e4;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 5px solid #fff;
}

.home-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;
}

.home-icons a:hover {
    background: #00abf0;
    color: #fff;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}

.btn {
    padding: 12px 35px;
    background: #00abf0;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #00abf0;
    transition: .5s;
}

.btn:hover {
    box-shadow: none;
}

/* RESPONSIVE HP*/
 @media (max-width: 768px) {
    .header {
        text-align: center;
    }

    .logo {
        color: white;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .home {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        height:100vh;
        background:#031540;
        display: flex;
        align-items: center;
    }

    

    .home-img {
        width: 185px;
        height: 185px;
        border-radius: 50%;
        order: -1;
        margin-bottom: 10px;
        border: 6px solid #fff;
    }

    .home-img img {
        position:relative;
        max-width: 115px;
        margin: 15px;
        bottom: -15px;
    }

    .home-content {
        height: 100vh;
        text-align: center;
        justify-items: center;
        padding: 10px;
        max-width: 800px;
        color: #ffff;
        margin: 10px;
        
    }

    .biodata table {
        margin: 0;
        padding: 0;
        text-align: left;
        border-collapse: collapse;
        width: 340px;
        justify-content: center;
    }
    .biodata td {
        margin-left: 50px;
    }
    .biodata h2 {
        text-align: center;
    }

    .home-content h3 {
        background-position: 10px 0;
    }

    .home-content p {
        margin-top: 20px;
    }

    .home-icons {
        display: flex;
        justify-content: center;
        width: 100%;
        margin:5px 30px;
    }
    
    .home-icons a {
        text-align: center;
        color: rgb(196, 238, 255);
        flex: 2;
        border: none;
        margin-top: 15px;
        margin-bottom: 20px;
        
    }

    .home-icons a:hover{
    color: rgb(196, 238, 255);
    background: #33353691;
    box-shadow: none;
}

    .btn {
        padding: 3px 11px;
        background: rgb(196, 238, 255);
        color: #031540;
        text-decoration: none;
        font-weight: 400;
        letter-spacing: 1px;
        box-shadow: none;
        transition: .5s;
        width: auto;
    }
    .btn:hover {
        box-shadow: 10px #00abf0;
        background: #33353691;
        color: rgb(196, 238, 255);
    }
        }

@media (max-width: 480px) {
    .home-icons {
        width: 80%;
    }
}  